In [1]:
a = 1
print(type(a)) # <class 'int'>
print(a)

<class 'int'>
1

In [3]:
a = 1  # 整型的加减乘除
b = 2
c = a+b
d = a-b
e = a*b
f = a/b # <class 'float'>
print(c,d,e,f)
print(type(f))

3 -1 2 0.5
<class 'float'>

In [5]:
# 整型的整除 
a = 11
b = 3
c = a//b # 只会保留整数部分
c

3

In [6]:
a = 3.666
b = int(a) # 将浮点型转化为整型 只保留整数部分
b

3

In [7]:
a = 10
b = 3
c = a%b # 求余数
c

1

In [8]:
# 幂操作
a = 2
b = a**3 # 2^3
b

8

In [14]:
print(1)
print(2)
print(3)

1
2
3

In [18]:
a = 1.23456789
print(type(a)) # <class 'float'>
print("a的值是%f" % (a)) # %f 默认保留六位
print("a的值是%.3f" % (a)) # 保留2位

<class 'float'>
a的值是1.234568
a的值是1.235

In [31]:
# 科学计数法
a = 1e3 # 1*10^3=1000.
print(a)
print(type(a)) # <class 'float'>

1000.0
<class 'float'>

In [39]:
a = 0.1
b = 0.2
c = a+b
c
print("c的值是%.3f" % (c))

c的值是0.300

In [19]:
# 复数类型
# a = 1
# b = 2
c = 1+2j
print(c)
print(type(c)) # <class 'complex'>

(1+2j)
<class 'complex'>

In [20]:
c = complex(1,2)
print(c)
print(type(c)) # <class 'complex'>

(1+2j)
<class 'complex'>

In [22]:
# bool 类型
"""
为True：非0数，非空字符串，True
为False：空字符串、0、None、False
"""
print(True) # <class 'bool'>
print(True+1) # True的值为1
print(type(True))
print(False)
print(False+1) # False的值为0

True
2
<class 'bool'>
False
1

In [30]:
bool(False)

False

In [40]:
str1 = "hello world"
print(str1)
print(type(str1)) # <class 'str'>

hello world
<class 'str'>

In [43]:
str1 = """hello world""" # <class 'str'>
print(type(str1))

<class 'str'>

In [44]:
"""
123
hhh
aaa
"""

'\n123\nhhh\naaa\n'

In [45]:
print("""
123
hhh
aaa
""")

123
hhh
aaa

In [80]:
str2 = "a"
str3 = "b"
str2+str3

'ab'

In [48]:
str1 = "hello world"
str1[6]

'w'

In [51]:
str1[-3]

'r'

In [62]:
# 切片
print(str1[1::]) # 切片的格式 [start:end:step] 性质为左闭右开
print(str1[2::2]) # 'lowrd'
print(str1[1:9:1])
print(str1[1:3])
print(str1[-10:-1]) # ello worl
print(str1[-10:])
print(str1[:]) # hello world

ello world
lowrd
ello wor
el
ello worl
ello world
hello world

In [65]:
str1 = "hello world"
print(id(str1))
str1 = "aaaa"
print(id(str1))
str1

1788487401712
1788487186672

'aaaa'

In [66]:
# 列表
lst1 = [1,2,3,4,"hello",[1,2,3]]
print(lst1)
print(type(lst1)) # <class 'list'>

[1, 2, 3, 4, 'hello', [1, 2, 3]]
<class 'list'>

In [70]:
lst1 = [1,2,3,4,"hello",[1,2,3]]
lst1[4] # 'hello'
print(lst1[-1])
print(type(lst1[-1]))

[1, 2, 3]
<class 'list'>

In [71]:
a = [[1,2],
     [2,3]]
a

[[1, 2], [2, 3]]

In [75]:
lst1 = [1,2,3,4,6,7,8]
print(lst1[1:])
print(lst1[1::2]) # [2, 4, 7] step为2
print(lst1[-7:]) # [1, 2, 3, 4, 6, 7, 8]

[2, 3, 4, 6, 7, 8]
[2, 4, 7]
[1, 2, 3, 4, 6, 7, 8]

In [78]:
a = [1,2,3]
b = [3,4]
c = a+b
c

[1, 2, 3, 3, 4]

In [82]:
a = list(range(0,10)) # [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] # range start stop step
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [83]:
a.append(10) # 增
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [84]:
# 删
a.remove(9)
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 10]

In [85]:
# 改
a[0]="a"
a

['a', 1, 2, 3, 4, 5, 6, 7, 8, 10]

In [87]:
# 查
a[:]

['a', 1, 2, 3, 4, 5, 6, 7, 8, 10]

In [90]:
a = (1,2,3)
print(a)
print(type(a)) # <class 'tuple'>
a[:-1] # (1, 2)

(1, 2, 3)
<class 'tuple'>

(1, 2)

In [93]:
a = (1,) # <class 'tuple'>
print(type(a))

<class 'tuple'>

In [98]:
a = (2,3,1,1,1)
a.count(1) # 计数

3

In [99]:
a.index(1) # 索引 1最先出现的位置

2

In [105]:
a = {1,2,3,1,1}
print(a) # {1, 2, 3} 集合是不重复的 可以用于去重
a.add(4)
print(a)

{1, 2, 3}
{1, 2, 3, 4}

In [106]:
# 减
a.remove(2)
a

{1, 3, 4}

In [103]:
# del a  删除整个集合

In [107]:
a

{1, 3, 4}

In [109]:
a = {1,2,3,4}
b = {3,4,5,6}
c = a & b # 数字7 shift+数字7
d = a|b # enter上方 shift+
print(c)
print(d)

{3, 4}
{1, 2, 3, 4, 5, 6}

In [110]:
a = {"name":"qianyu","height":185,"age":18}
a

{'name': 'qianyu', 'height': 185, 'age': 18}

In [111]:
a["IQ"] = 250 # 增
a

{'name': 'qianyu', 'height': 185, 'age': 18, 'IQ': 250}

In [112]:
# 删
del a["IQ"]
a

{'name': 'qianyu', 'height': 185, 'age': 18}

In [113]:
# 改
a["height"] = 190
a

{'name': 'qianyu', 'height': 190, 'age': 18}

In [114]:
# 查
a["name"]

'qianyu'

In [115]:
# 关键字唯一
a = {"name":"qianyu","height":185,"age":18,"name":"qianyu2"}
a

{'name': 'qianyu2', 'height': 185, 'age': 18}

In [118]:
a = [1,2,3,45]
len(a)
max(a)
min(a)

1